@{
    Layout = null;
}
@using Model
@using Microsoft.AspNet.Identity
@using System.Web.Security
@using Common;
@Styles.Render("~/Content/table")
@Styles.Render("~/Content/easyui")
@Scripts.Render("~/bundles/easyui")
<!DOCTYPE html>
<script type="text/javascript">
    $(function () {
        var userId = $("#userId").text();
        $("#IsAuthenticated").css("display", "none");
        $(".detailDiv").css("display", "none");
        $(".detail").click(function () {
            showDetail($(this).attr("ids"));
        });

        $(".delete").click(function () {
            deleteInfo($(this).attr("ids"), $(this));
        });
    });
    function deleteInfo(id, control) {
        $.messager.confirm("提示", "确定要删除该记录吗？", function (r) {
            if (r) {
                //删除
                $.post("/Meet/Delete", { "id": id }, function (data) {
                    if (data == "ok") {
                        $(control).parent().parent().remove();
                        $.messager.show({
                            title: '提示',
                            msg: '删除成功',
                            showType: 'show'
                        });
                    } else {
                        $.messager.alert("提示", "删除失败", "info");
                    }
                });

            } else {

            }
        });
    }

    function showDetail(id) {
        $.post("/Meet/MeetDetail", { "id": id }, function (data) {
            $("#Title").text("");
            $("#Type").text("");
            $("#Content").html("");
            $("#StartTime").text("");
            $("#EndTime").text("");
            $("#Address").text("");
            $("#IsEnd").html("");

            $("#Title").text(data.Title);
            $("#Type").text(data.Type);
            $("#Content").html(data.Content);
            $("#StartTime").text(ChangeDateFormat(data.StartTime));
            $("#EndTime").text(ChangeDateFormat(data.EndTime));
            $("#Address").text(data.Address);
            $("#IsEnd").html(data.IsEnd == false ? "未结束" : "结束");
        });
        $(".detailDiv").css("display", "block");
        $(".detailDiv").dialog({
            modal: true,
            resizable: true,
            maximizable: true,
            collapsiable: true,
            title: "会议详情",
            width: 700,
            height: 350,
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: function () {
                    $('.detailDiv').dialog("close", true);
                }
            }]
        }
       );
    }
</script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
    </script>
</head>
<body>
    <div id="IsAuthenticated">
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink(User.Identity.GetUserId(), null, null, routeValues: null, htmlAttributes: new { title = "管理", id = "userId" })
        }
    </div>
    <div>
        @using (Html.BeginForm())
        {
            <p>
                @*type:@Html.DropDownList("meetType","All")*@
                Title or Content:@Html.TextBox("searchString")<br />
                @*Title or Content:<input type="text" value="@ViewData["searchString"]" />*@
                <input type="submit" value="搜索" /> <a href="javascript:history.back(-1)">返回</a>
</p>
        }
    </div>
    @if (ViewData["meets"] == null || ((List<Meet>)ViewData["meets"]).Count == 0)
    {
        <p>此会议室暂无任何会议</p>
    }
    else
    {
        <div>
            <table width="100%">
                <tr>
                    <th>会议标题</th>
                    <th>会议类型</th>
                    @*<th>会议内容</th>*@
                    <th>会议开始时间</th>
                    <th>会议结束时间</th>
                    <th>会议地址</th>
                    <th>详细</th>
                </tr>
                @foreach (Meet m in (List<Meet>)ViewData["meets"])
                {
                    <tr>
                        <td>@m.Title</td>
                        <td>@m.Type</td>
                        @*<td>@m.Content</td>*@
                        <td>@m.StartTime</td>
                        <td>@m.EndTime</td>
                        <td>@m.Address</td>
                        <td><a href="#" class="detail" ids="@m.MeetId">详细</a></td>
                    </tr>
                }
            </table>
        </div>
    }


    <!--显示详细内容--->
    <div class="detailDiv">
        <table>
            <tr><td>标题</td><td><span id="Title"></span></td></tr>
            <tr><td>类型</td><td><span id="Type"></span></td></tr>
            <tr><td>内容</td><td><span id="Content"></span></td></tr>
            <tr><td>开始时间</td><td><span id="StartTime"></span></td></tr>
            <tr><td>结束时间</td><td><span id="EndTime"></span></td></tr>
            <tr><td>地址</td><td><span id="Address"></span></td></tr>
            <tr><td>是否结束</td><td><span id="IsEnd"></span></td></tr>
        </table>
    </div>
    <!--显示详细内容结束--->
</body>
</html>

