
@{
    Layout = null;
}
@using Model
@using Common
@using Microsoft.AspNet.Identity
@Styles.Render("~/Content/table")
@Styles.Render("~/Content/easyui")
@Scripts.Render("~/bundles/easyui")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MeetApply</title>
    <script type="text/javascript">

        $(function () {
            $(".addDiv").css("display", "none");
            $(".addInfo").click(function () {
                //alert("addInfo");
                addInfo();
            });
            $(".detailDiv").css("display", "none");
            $(".detail").click(function () {
                showDetail($(this).attr("ids"));
            });

            $(".delete").click(function () {
                deleteInfo($(this).attr("ids"), $(this));
            });
            $(".update").click(function () {
                updateInfo($(this).attr("ids"));
            });
            var userId = $("#userId").text();
            $("#ApplyPeople").val(userId);
            $("#IsAuthenticated").css("display", "none");
        });

        function addInfo() {
            $("#addFrame").attr("src", "/Meet/ShowApply");
            $(".addDiv").css("display", "block");
            $(".addDiv").dialog({
                modal: true,
                resizable: true,
                maximizable: true,
                collapsiable: true,
                title: "会议申请",
                width: 700,
                height: 400,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        //调用子窗体中的方法
                        var childWindow = $("#addFrame")[0].contentWindow;
                        childWindow.SubForm();
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $('.addDiv').dialog("close", true);
                    }
                }]
            });
        }

        function updateInfo(id) {
            $("#addFrame").attr("src", "/Meet/ShowApply?id=" + id);
            $(".addDiv").css("display", "block");
            $(".addDiv").dialog({
                modal: true,
                resizable: true,
                maximizable: true,
                collapsiable: true,
                title: "会议申请",
                width: 700,
                height: 400,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        //调用子窗体中的方法
                        var childWindow = $("#addFrame")[0].contentWindow;
                        childWindow.SubForm();
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $('.addDiv').dialog("close", true);
                    }
                }]
            });
        }

        //添加完成以后执行该方法
        function afterApply(serverData) {
            $('.addDiv').dialog('close', true);
            $.messager.show({
                title: '提示',
                msg: '申请成功',
                showType: 'show'
            });
            location.reload();
        }

        function deleteInfo(id, control) {
            $.messager.confirm("提示", "确定要删除该记录吗？", function (r) {
                if (r) {
                    //删除
                    $.post("/Meet/Delete", { "id": id }, function (data) {
                        if (data == "ok") {
                            $(control).parent().parent().remove();
                            $.messager.show({
                                title: '提示',
                                msg: '删除成功',
                                showType: 'show'
                            });
                        } else {
                            $.messager.alert("提示", "删除失败", "info");
                        }
                    });

                } else {

                }
            });
        }

        function showDetail(id) {
            $.post("/Meet/MeetDetail", { "id": id }, function (data) {
                $("#Title").text("");
                $("#Type").text("");
                $("#Content").html("");
                $("#StartTime").text("");
                $("#EndTime").text("");
                $("#Address").text("");
                $("#IsEnd").text("");

                $("#Title").text(data.Title);
                $("#Type").text(data.Type);
                $("#Content").html(data.Content);
                $("#StartTime").text(ChangeDateFormat(data.StartTime));
                $("#EndTime").text(ChangeDateFormat(data.EndTime));
                $("#Address").text(data.Address);
                $("#IsEnd").html(data.IsEnd == false ? "未结束" : "结束");
            });
            $(".detailDiv").css("display", "block");
            $(".detailDiv").dialog({
                modal: true,
                resizable: true,
                maximizable: true,
                collapsiable: true,
                title: "会议详情",
                width: 700,
                height: 350,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        $('.detailDiv').dialog("close", true);
                    }
                }]
            }
           );
        }

        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }

        function DisPlayHtml(value) {
            $("#span").html(value);
        }
    </script>
</head>
<body>
    <div id="IsAuthenticated">
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink(User.Identity.GetUserId(), null, null, routeValues: null, htmlAttributes: new { title = "管理", id = "userId" })
        }
    </div>
    <div> 
        <div style="font-size:large">已申请会议</div><br /><br />
        @if (ViewData["meets"] == null || ((List<Meet>)ViewData["meets"]).Count == 0)
        {
            <p>暂无任何已申请会议，去申请一个吧</p>
        }
        else
        {
            <div>
            <table width="100%">
                <tr>
                    <th>会议标题</th>
                    <th>会议类型</th>
                    @*<th>会议内容</th>*@
                    <th>会议开始时间</th>
                    <th>会议地址</th>
                    <th>状态</th>
                    <th>详细</th>
                    <th>删除</th>
                    <th>更新</th>
                </tr>
                @foreach (Meet m in (List<Meet>)ViewData["meets"])
                {
                    <tr>
                        <td>@m.Title</td>
                        <td>@m.Type</td>
                        @*<td>@m.Content</td>*@
                        <td>@m.StartTime</td>
                        <td>@m.Address</td>
                        @if (m.Status == 0)
                        {
                            <td>未审核</td>
                            <td><a href="#" class="delete" ids="@m.MeetId">删除</a></td>
                            <td><a href="#" class="update" ids="@m.MeetId">更新</a></td>
                        }
                        else if (m.Status == -1)
                        {
                            <td>审核未通过</td>
                            <td>删除</td>
                            <td>更新</td>
                        }
                        else if (m.Status == 1)
                        {
                            <td>审核通过</td>
                            <td>删除</td>
                            <td>更新</td>
                        }
                        else if (m.Status == 2)
                        {
                            <td>未归档</td>
                            <td>删除</td>
                            <td>更新</td>
                        }
                        else if (m.Status == 3)
                        {
                            <td>归档失败</td>
                            <td>删除</td>
                            <td>更新</td>
                        }
                        else if (m.Status == 4)
                        {
                            <td>归档成功</td>
                            <td>删除</td>
                            <td>更新</td>
                        }
                        <td><a href="#" class="detail" ids="@m.MeetId">详细</a></td>
                    </tr>
                }
            </table>
            <p class="page_nav">
                @MvcHtmlString.Create(PageBar.GetPageBar((int)ViewData["pageIndex"], (int)ViewData["pageCount"],(string)ViewData["id"]))
            </p>
        </div>
        }
        
    </div>

    <!--显示详细内容--->
    <div class="detailDiv" style="overflow:scroll;">
        <table>
            <tr><td>标题</td><td><span id="Title"></span></td></tr>
            <tr><td>类型</td><td><span id="Type"></span></td></tr>
            <tr><td>内容</td><td><span id="Content"></span></td></tr>
            <tr><td>开始时间</td><td><span id="StartTime"></span></td></tr>
            <tr><td>结束时间</td><td><span id="EndTime"></span></td></tr>
            <tr><td>地址</td><td><span id="Address"></span></td></tr>
            <tr><td>是否结束</td><td><span id="IsEnd"></span></td></tr>
        </table>
    </div>
    <!--显示详细内容结束--->

    <!--添加内容--->
    <div class="addDiv" style="overflow:hidden;">
        <iframe id="addFrame" frameborder="0" width="100%" height="100%" scrolling="auto" src="" />
    </div>
    <!--添加内容结束--->
   
</body>
</html>
